<%= form_for(@movement) do |f| %>
  <% if @movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this movement from being saved:</h2>

      <ul>
      <% @movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :entity %><br>
	<%= f.select :entity, options_for_select([["Personal", "PER"], ["Tecnología", "TYC"], ["Steico", "SCO"], ["Systek", "SYS"], ["Inktec","INK"], ["Sincor", "SNR"]], selected: @movement.entity) %>  

  <div class="field">
    <%= f.label :mov_class %><br>
	<%= f.select :mov_class, options_for_select([["Egreso", "E"], ["Ingreso", "I"]], selected: @movement.mov_class) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select(:date,:start_year => 2015) %>
  </div>
    
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
