
<p id="notice"><%= notice %></p>


<div class="container">
	<h3>Listing Movements <%= link_to 'New', new_movement_path, class: "btn btn-primary btn-xs " %> </h3>
	
	<%= form_tag(movements_path, method: "get") do %>
	  <%= label_tag(:q, "Class:") %>
	  <%= select_tag(:mov_class, options_for_select([["Egreso", "E"], ["Ingreso", "I"]], selected: params[:mov_class]), include_blank: "All") %> 
	  <br>
	  <%= label_tag(:q, "Entity:") %>
	  <%= select_tag(:entity, options_for_select([["Personal", "PER"], ["Tecnología", "TYC"], ["Steico", "SCO"], ["Systek", "SYS"], ["Inktec","INK"], ["Sincor", "SNR"]], selected: params[:entity]), include_blank: "All") %> 
	  <br>
	  <%= label_tag(:q, "Fr:") %>
	  <%= date_field_tag :date1, params[:date1], :order => [:day, :month, :year]%>
	  <br>
	  <%= label_tag(:q, "To:") %>
	  <%= date_field_tag :date2, params[:date2], :order => [:day, :month, :year]%> 
	  <br>
	  <%= label_tag(:q, "Descrip:") %>
	  <%= text_field_tag(:description, params[:description]) %>
	  <br>  
	  <%= submit_tag("Search") %>
	  <%= link_to "Clear", movements_path%>
	<% end %>
	<br>

	<table>
		<tbody>
			<tr>
				<td> I: </td>
				<td align="right"> <%= number_to_currency(@budget.total_incomes, unit:"") %>  </td>
			</tr>
			<tr>
				<td> E: </td>
				<td align="right"> <%= number_to_currency(@budget.total_expenses, unit:"") %>  </td>
			</tr>
			<tr>
				<td> B: </td>
				<td align="right"> <%= number_to_currency(@budget.total_balance, unit:"") %>  </td>
			</tr>
		</tbody>
	</table>
	<br>
	<div class="table">          

		<table id="MovementList" class="table-striped">
		  <thead>
		    <tr>
		      <th>C</th>
		      <th>Date</th>
		      <th>Description</th>
		      <th>Amount</th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @movements.each do |movement| %>
		      <tr>
		        <td><%= movement.mov_class %></td>
		        <td><%= movement.date.strftime("%d/%m") %></td>
		        <td><%= movement.description %></td>
		        <td align="right"><%= number_with_precision(movement.amount, presicion: 2, delimiter: ",") %></td>
		        <td><%= link_to 'Shw', movement %></td>
		        <td><%= link_to 'Ed', edit_movement_path(movement) %></td>
		        <td><%= link_to 'Dtr', movement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>

		  </tbody>
		</table>
	</div>
</div>
