<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @movement.entity %>
</p>

<p>
  <strong>Class:</strong>
  <%= @movement.mov_class %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movement.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movement.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_with_precision(@movement.amount, presicion: 2, delimiter: ",") %>
</p>

<%= link_to 'New Movement', new_movement_path %> |
<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
